<div class="header">
  <h1 style="margin: 20px 20px 0 120px">
    Agendamento

    <button
      id="btn-sair"
      type="button"
      mat-raised-button
      color="warn"
      class="btn-outline mat-elevation-z5"
      matTooltip="Sair do Sistema"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </h1>
  <br />
</div>

<div [formGroup]="this.agendaForm" class="body">
  <br />
  <div class="divvisitante">
    <br />
    <mat-label id="labelvisitante">Dados</mat-label>

    <br />

    <mat-form-field
      class="example-full-width"
      appearance="outline"
      id="codVisitante"
    >
      <mat-label>Visitante</mat-label>

      <input
        type="text"
        matInput
        formControlName="visitante"
        name="visitante"
        placeholder="Selecione um visitante"
        readonly="readonly"
      />
      <mat-error *ngIf="this.agendaForm.get('visitante')?.errors"
        >Campo Obrigatório</mat-error
      >
    </mat-form-field>
    <button
      id="btn-busca-visitante"
      type="button"
      mat-raised-button
      color="primary"
      class="btn-outline mat-elevation-z5"
      (click)="buscaVisitante()"
      matTooltip="Buscar Visitante"
    >
      <mat-icon> search </mat-icon>
    </button>

    <button
      id="btn-novo-visitante"
      type="button"
      mat-raised-button
      color="primary"
      class="btn-outline mat-elevation-z5"
      (click)="addVisitante()"
      matTooltip="Cadastrar Visitante"
    >
      <mat-icon fxFlexAlign="center"> person_add </mat-icon>
    </button>

    <div class="datastatus">
      <mat-form-field class="example-full-width" appearance="outline" id="data">
        <mat-label>Data</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="data"
          name="data"
        />

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="this.agendaForm.get('data')?.errors"
          >Campo Obrigatório</mat-error
        >
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline" id="hora">
        <mat-label>Hora</mat-label>
        <input type="time" matInput formControlName="hora" name="hora" />

        <mat-error *ngIf="this.agendaForm.get('hora')?.errors"
          >Campo Obrigatório</mat-error
        >
      </mat-form-field>
      <mat-form-field
        class="example-full-width"
        appearance="outline"
        id="status"
      >
        <mat-label>Status</mat-label>
        <mat-select type="text" matInput formControlName="status" name="status">
          <mat-option value="Ativo">Ativo</mat-option>
          <mat-option value="Cancelado">Cancelado</mat-option>
          <!--<input type="text" matInput formControlName="status" name="status" />-->
        </mat-select>
        <mat-error *ngIf="this.agendaForm.get('status')?.errors"
          >Campo Obrigatório</mat-error
        >
      </mat-form-field>
    </div>
    <div class="divobserv">
      <mat-form-field
        class="example-full-width"
        appearance="outline"
        id="observacao"
      >
        <mat-label>Observação</mat-label>
        <input
          type="text"
          matInput
          formControlName="observacao"
          name="observacao"
        />
      </mat-form-field>
      <br />
      <br />
      <br />
      <button
        id="btn-salvar"
        mat-raised-button
        type="button"
        color="primary"
        class="btn-block mat-elevation-z5"
        (click)="salvarAgendamento()"
      >
        Salvar
      </button>
      <button
        id="btn-salvar"
        mat-raised-button
        type="button"
        color="warn"
        class="btn-block mat-elevation-z5"
        (click)="voltarAgendamento()"
      >
        Voltar
      </button>
    </div>
  </div>
</div>
